*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 1000px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.header{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 1000px;

}
#top{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    margin-left: 10px;

}
.navbar{
    margin-top: 40px;
    border: 4px dotted red;
    width: 100%;
    overflow: scroll;
    height: 1000px;
    
}
.navbar li{
    font-size: 30px;
    padding: 18px;
list-style: none;
text-decoration: underline;

}
.navbar li a{
    color: black;
    text-decoration: none;

    
}
.container{
    display: flex;
    width: 100%;
    
}
main{
    display: block;
    height: 1000px;
    width: 70%;
    position: absolute;
}
#main-doc{
    border: 5px solid orange;
    position: absolute;
    width: 74%;
    margin-left: 436px;
    overflow: scroll;
    height: 1000px;
}

#main-doc header{
    font-size: 35px;
    font-weight: bold;
    background-color:#a82218;
}
#main-doc p{
    margin: 6px;
    font-size: 22px;
    font-weight: bold;

}
#main-doc code{
    
    margin: 6px;
    font-size: 22px;
    font-weight: bold;
}
#main-doc li{
    margin-left: 30px;
}
